@media screen and (min-width: 1440.1px) {
  .navigation_bar {
    display: block; }

  .mobile_navigation_bar {
    display: none; } }
@media screen and (min-width: 1140.1px) and (max-width: 1440px) {
  .navigation_bar {
    display: block; }

  .mobile_navigation_bar {
    display: none; }

  .about .about_panels .about_panel .about_icon {
    width: 200px;
    height: 200px; }
    .about .about_panels .about_panel .about_icon h1 {
      width: 230px; }
  .about .about_panels .about_panel .mi h1 {
    left: -17px; }
  .about .about_panels .about_panel .ai h1 {
    left: -15px; }
  .about .about_panels .about_panel .about_text p {
    font-size: 13px; } }
@media screen and (min-width: 965.1px) and (max-width: 1140px) {
  .navigation_bar {
    display: block; }

  .mobile_navigation_bar {
    display: none; }

  .about {
    height: 740px; }
    .about .about_panels {
      height: 720px; }
      .about .about_panels .about_panel .about_icon {
        width: 200px;
        height: 200px; }
        .about .about_panels .about_panel .about_icon h1 {
          width: 230px; }
      .about .about_panels .about_panel .mi h1 {
        left: -17px; }
      .about .about_panels .about_panel .ai h1 {
        left: -15px; }
      .about .about_panels .about_panel .about_text p {
        font-size: 13px; } }
@media screen and (min-width: 740.1px) and (max-width: 965px) {
  .navigation_bar {
    display: block; }

  .mobile_navigation_bar {
    display: none; }

  .about {
    height: 1280px; }
    .about .about_panels {
      height: 1260px; }
      .about .about_panels .about_panel {
        width: 80%;
        margin: 0 auto;
        float: none; }
        .about .about_panels .about_panel .about_icon {
          width: 200px;
          height: 200px; }
          .about .about_panels .about_panel .about_icon h1 {
            width: 230px; }
        .about .about_panels .about_panel .mi h1 {
          left: -17px; }
        .about .about_panels .about_panel .ai h1 {
          left: -15px; }
        .about .about_panels .about_panel .about_text p {
          font-size: 13px; }

  .news_and_resources {
    height: 1300px; }
    .news_and_resources .news_and_resources_container {
      height: 1230px; }
      .news_and_resources .news_and_resources_container .news {
        width: 80%;
        float: none;
        margin: 0 auto; }
      .news_and_resources .news_and_resources_container .resources {
        width: 80%;
        float: none;
        margin: 0 auto;
        padding: 130px 0 0 0; } }
@media screen and (min-width: 650.1px) and (max-width: 740px) {
  .navigation_bar {
    display: none; }

  .mobile_navigation_bar {
    display: block; }

  .about {
    height: 1440px; }
    .about .about_panels {
      height: 1420px;
      background: none;
      box-shadow: none; }
      .about .about_panels .about_panel {
        width: 80%;
        margin: 0 auto;
        float: none; }
        .about .about_panels .about_panel .video iframe {
          height: 270px; }
        .about .about_panels .about_panel .about_icon {
          width: 200px;
          height: 200px; }
          .about .about_panels .about_panel .about_icon h1 {
            width: 230px; }
        .about .about_panels .about_panel .mi h1 {
          left: -17px; }
        .about .about_panels .about_panel .ai h1 {
          left: -15px; }
        .about .about_panels .about_panel .about_text p {
          font-size: 13px; }

  .news_and_resources {
    height: 1300px; }
    .news_and_resources .news_and_resources_container {
      height: 1230px; }
      .news_and_resources .news_and_resources_container .news {
        width: 80%;
        float: none;
        margin: 0 auto; }
      .news_and_resources .news_and_resources_container .resources {
        width: 80%;
        float: none;
        margin: 0 auto;
        padding: 130px 0 0 0; } }
@media screen and (min-width: 530.1px) and (max-width: 650px) {
  .navigation_bar {
    display: none; }

  .mobile_navigation_bar {
    display: block; }

  .about {
    height: 1480px; }
    .about .about_panels {
      height: 1420px;
      background: none;
      box-shadow: none; }
      .about .about_panels .about_panel {
        width: 80%;
        margin: 0 auto;
        float: none; }
        .about .about_panels .about_panel .video iframe {
          height: 270px; }
        .about .about_panels .about_panel .about_icon {
          width: 200px;
          height: 200px; }
          .about .about_panels .about_panel .about_icon h1 {
            width: 230px; }
        .about .about_panels .about_panel .mi h1 {
          left: -17px; }
        .about .about_panels .about_panel .ai h1 {
          left: -15px; }
        .about .about_panels .about_panel .about_text p {
          font-size: 13px; }

  .news_and_resources {
    height: 1300px; }
    .news_and_resources .news_and_resources_container {
      height: 1230px; }
      .news_and_resources .news_and_resources_container .news {
        width: 80%;
        float: none;
        margin: 0 auto; }
      .news_and_resources .news_and_resources_container .resources {
        width: 80%;
        float: none;
        margin: 0 auto;
        padding: 130px 0 0 0; }

  .donate .donate_body .donate_header .donate_header_container {
    width: 435px;
    height: 10px; }
    .donate .donate_body .donate_header .donate_header_container .donate_icon {
      width: 90px;
      height: 90px;
      margin: 0 5px 0 5px; }
    .donate .donate_body .donate_header .donate_header_container .donate_title {
      margin: -10px 10px 0 10px; }
      .donate .donate_body .donate_header .donate_header_container .donate_title h1 {
        font-size: 40px; }
  .donate .donate_body .donate_content .donate_text .nicu_christmas img {
    width: 400px;
    height: auto;
    margin: 20px 0 0 40px; } }
@media screen and (min-width: 440.1px) and (max-width: 530px) {
  .navigation_bar {
    display: none; }

  .mobile_navigation_bar {
    display: block; }

  .about {
    height: 1540px; }
    .about .about_panels {
      height: 1500px;
      background: none;
      box-shadow: none; }
      .about .about_panels .about_panel {
        width: 80%;
        margin: 0 auto;
        float: none; }
        .about .about_panels .about_panel .video iframe {
          height: 200px; }
        .about .about_panels .about_panel .about_icon {
          width: 200px;
          height: 200px; }
          .about .about_panels .about_panel .about_icon h1 {
            width: 230px; }
        .about .about_panels .about_panel .mi h1 {
          left: -17px; }
        .about .about_panels .about_panel .ai h1 {
          left: -15px; }
        .about .about_panels .about_panel .about_text p {
          font-size: 13px; }

  .news_and_resources {
    height: 1300px; }
    .news_and_resources .news_and_resources_container {
      height: 1230px; }
      .news_and_resources .news_and_resources_container .news {
        width: 100%;
        float: none;
        margin: 0 auto; }
      .news_and_resources .news_and_resources_container .resources {
        width: 100%;
        float: none;
        margin: 0 auto;
        padding: 130px 0 0 0; }

  .donate .donate_body .donate_header .donate_header_container {
    width: 400px;
    height: 10px; }
    .donate .donate_body .donate_header .donate_header_container .donate_icon {
      width: 60px;
      height: 60px;
      margin: 14px 14px 0 14px; }
    .donate .donate_body .donate_header .donate_header_container .donate_title {
      margin: 0px 15px 0 15px; }
      .donate .donate_body .donate_header .donate_header_container .donate_title h1 {
        font-size: 36px; }
  .donate .donate_body .donate_content .donate_text {
    width: 350px; }
    .donate .donate_body .donate_content .donate_text .nicu_christmas img {
      width: 350px;
      height: auto;
      margin: 20px 0 0 40px; }

  .contact .contact_title {
    width: 400px; }
  .contact .contact_form {
    width: 400px; } }
@media screen and (max-width: 440px) {
  .navigation_bar {
    display: none; }

  .mobile_navigation_bar {
    display: block; }
    .mobile_navigation_bar .mobile_navigation_bar_content .mobile_navigation_menu {
      margin-left: -162px; }
      .mobile_navigation_bar .mobile_navigation_bar_content .mobile_navigation_menu li {
        width: 80px; }

  .header .logo {
    top: 100px;
    margin: 0 0 0 -152px; }
    .header .logo img {
      width: 300px;
      height: 300px; }

  .about {
    height: 1540px; }
    .about .about_panels {
      height: 1500px;
      background: none;
      box-shadow: none; }
      .about .about_panels .about_panel {
        width: 80%;
        margin: 0 auto;
        float: none; }
        .about .about_panels .about_panel .video iframe {
          height: 200px; }
        .about .about_panels .about_panel .about_icon {
          width: 200px;
          height: 200px; }
          .about .about_panels .about_panel .about_icon h1 {
            width: 230px; }
        .about .about_panels .about_panel .mi h1 {
          left: -17px; }
        .about .about_panels .about_panel .ai h1 {
          left: -15px; }
        .about .about_panels .about_panel .about_text p {
          font-size: 13px; }

  .news_and_resources {
    height: 1300px; }
    .news_and_resources .news_and_resources_container {
      width: 100%;
      height: 1230px; }
      .news_and_resources .news_and_resources_container .news {
        width: 100%;
        float: none;
        margin: 0 auto; }
      .news_and_resources .news_and_resources_container .resources {
        width: 100%;
        float: none;
        margin: 0 auto;
        padding: 130px 0 0 0; }
        .news_and_resources .news_and_resources_container .resources .chaplain {
          width: 360px; }

  .donate .donate_body {
    width: 100%; }
    .donate .donate_body .donate_header .donate_header_container {
      width: 100%;
      height: 10px; }
      .donate .donate_body .donate_header .donate_header_container .donate_icon {
        width: 60px;
        height: 60px;
        margin: 14px 14px 0 14px; }
      .donate .donate_body .donate_header .donate_header_container .donate_title {
        margin: 0px 15px 0 15px; }
        .donate .donate_body .donate_header .donate_header_container .donate_title h1 {
          font-size: 36px; }
    .donate .donate_body .donate_content .donate_text {
      width: 350px; }
      .donate .donate_body .donate_content .donate_text .nicu_christmas img {
        width: 350px;
        height: auto;
        margin: 20px 0 0 40px; }

  .contact .contact_title {
    width: 100%; }
  .contact .contact_form {
    width: 100%; } }

/*# sourceMappingURL=queries.css.map */
